@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  background-color: #1a1a1a;
} */

@layer base {
  :root {
    --font-lato: '__Lato_Fallback';
    --font-inter: '__Inter_Fallback';
  }
}


.font-lato{
  font-family: var(--font-lato), sans-serif;
}
.font-inter{
  font-family: var(--font-inter), sans-serif;
}

.site-text-white {
  color: white;
}

.site-text-black {
  color: black;
}
